@model IEnumerable<Immune.Models.Vaccine>

@{
    ViewData["Title"] = "Index";
}

<h1>City and No. of vaccine</h1>

<div class="text-center">
    <a class="text-light btn btn-primary font-weight-bold" asp-action="AddCenter" asp-controller="Vaccine">Add Center</a>
</div>


<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.city)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Dose1)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Dose2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.city)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dose1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dose2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
